html { font-family: "Roboto", "Helvetica", "Arial", sans-serif; }
.status-publish {
  color: #4CAF50 !important;
}
.img-wrap img {
  max-height: 100%;
  width: auto !important;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.selectYear #select-apiYear {
  min-height: 1.6em;
  margin-left: 15px;
}
